.login__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 24px 16px;
  min-width: 343px;
  min-height: 388px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(+50%, -50%);
}
.titleadnbutton__wrapper {
  display: flex;
  justify-content: space-between;
}

.name__input,
.password__input{
  border-bottom: 1px solid var(--border-color);


}
.name__input::content,
.password__input::content{
background-color: transparent;


}
.signIn__button {
  background-color: var(--button-color);
  border-radius: 12px;
  color: var(--white-text-color);
  padding: 9px;
}
