:root {
  --max-width: 1440px;
  --bg-color: #ffffff;
  --button-color:#121212;
  --white-text-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: #121212;
font-weight: 600;
  text-decoration: none;
}

input,
button,
select,
textarea {
  border: none;
  font: inherit;
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
